* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.wrapper {
    width: 100%;
    max-width: 1280px;
    height: auto;
    background-color: #fcf9ee;
    /* display: block; */
    margin: 0 auto;
}

.blog {
    width: 90%;
    height: auto;
    padding: 5% 2%;
}

h1 {
    width: 83.87%;
    height: auto;
    text-align: center;
}


.content {
    width: 100%;
    padding: 0;
    border: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
    flex-wrap: wrap;
    
}

img {
    width: 100%; /* 부모 요소에 맞게 이미지 너비를 100%로 설정 */
    height: auto; /* 비율 유지 */
   
}

.title {
    font-size: 1.875rem;
    font-family: 'NanumMyeongjo';
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.caption {
    width: 100%;
    height: auto;
    line-height: 20px;
    margin-bottom: 20px;
    font-family: 'NotoSansKR';
    font-size: 14px;
}
.simg{
   margin-right: 150px;
}
.contentItem {
    width: calc(50% -20px);
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
}


.topDir{
width: 1220px;
height: 70px;
margin: 0px auto;
padding-top: 40px;
}
.topDir ol{
font-size: 13px;
display: flex;
}
.topDir p{
margin: 0px 10px;
}



/* 반응형 */
/* 반응형 디자인 (800px 이하일 때) */
@media screen and (max-width: 800px) {
    .contentItem {
        width: 100%; /* 한 줄에 하나씩 나오도록 설정 */
        margin-bottom: 20px;
    }
}

/* 모바일 (480px 이하일 때) */
@media screen and (max-width: 480px) {
    .contentItem {
        width: 100%;
        margin-bottom: 20px;
    }

    .title {
        font-size: 18px;
    }

    .caption {
        font-size: 12px;
    }
}