@import "../CSS/aside.css";
@import "../../css/font.css";
@import "../../css/hF.css";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FCF9EE;
}

wrapper{
  width: 100%;
  margin: 0 auto;
  display: block;
  /*background-color: aqua;*/
}

logo{
    width: 200px;
    height: 60px;
    display: flex;
    margin: auto;
    margin-top: 80px;
}

logo > img{
    width: 200px;
    height: 50px;
}

logo > a{
    width: 200px;
}

main{
    width: 50%;
    height: 800px;
    margin-left: 10%;
    float: left;
    line-height: 25px;
}

h1{
    width: 50%;
    margin-left: 40%;
    font-size: 25px;
    margin-top: 7%;
}

h4{
    height: 50px;
    line-height: 50px;
}

.orderNum{
    height: 50px;
    line-height: 50px;
}

main > .notice{
    width: 80%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 150px;
    text-align: justify;
}

button,.goMain{
    width: 150px;
    height: 50px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.goMain > a{
    text-decoration: none;
    display: block;
    margin-left: 5px;
    width: 140px;
    height: 40px;
    color: #fff;
    line-height: 40px;
}

article > p > a{
  color: #000;
}

@media screen and (max-width:800px){
    wrapper{
      width: 100%;
    }

    .stepContainer{
    width: 80%;
    }

    h1{
      width: 50%;
    }

    main{
      width: 80%;
    }

    main > .notice{
      width: 100%;
      margin: auto;
      margin-bottom: 100px;
    }

    aside{
      width: 100%;
    }

    aside > article{
      width: 85%;
      margin-left: 4%;
    }
  }

  @media screen and (max-width:500px){
    wrapper{
      width: 100%;
    }
    
    main{
      width: 80%;
    }

    main > .notice{
      margin-bottom: 100px;
    }

    aside > article{
      width: 85%;
      margin-left: 3%;
    }
  }