#userInfo{
    width: 700px;
    height: 700px;
    /*background-color: #0f0;*/
    float: left;
}

#pname,#blank,#addr{
    width: 450px;
    height: 40px;
    border: solid 1px #ccc;
    margin: 4px;
    background-color: #fff;
}

#postC{
    width: 300px;
    height: 40px;
    border: solid 1px #ccc;
    margin: 4px;
    background-color: #fff;
}

#phone,#phone2,#phone3,#telSelect,#telInput{
    width: 160px;
    height: 40px;
    border: solid 1px #ccc;
    margin-left: 3px;
    background-color: #fff;
}

button{
    width: 146px;
    height: 40px;
    background-color: #000;
    color: #fff;
}